<!-- Header -->
<center class="ui inverted segment">
  <label>
    <h1>Plan Builder: {{heading}}</h1>
  </label>
</center>

<div class="ui centered grid basic hidden segment">

  <div class="twelve wide column" style="padding-top:0px">
    <!-- steps -->
    <div class="ui steps margin-bottom-md">
      <div class="{{step.isActive}} step" ui-sref-active='active' ui-sref='{{step.key}}' ng-click='navToStep(step)' ng-repeat='step in steps' style='cursor:pointer;'>
        <i class="{{step.icon}}"></i>
        <div class="content">
          <div class="title">{{step.title}}</div>
        </div>
      </div>
    </div>
    <!-- Main content (container for plan-builder states) -->
    <div ui-view></div>
  </div>
</div>

<!-- Plan builder progress bar -->
<div class="ui segment bottom attached">

  <center>
    <div class="margin-bottom-md">
      <!-- prev and next buttons -->
      <div class='margin-bottom-md'>
        <a class="ui button" ng-if="!!previous" ng-href="{{previous}}">
          <i class="fa fa-chevron-left"></i> Previous
        </a>
        <a class="ui button" ng-if="!!next" ng-click='nextQuestion()'>
          Next <i class="fa fa-chevron-right"></i>
        </a>
        <a class="ui primary button" ng-if="!next">Submit</a>
      </div>

      <!-- progress bar -->
      <div style='width:60%;'>
        <div class="ui teal indicating progress" style="text-align:left;">
          <div class="bar" style='width:{{pctComplete}}%;'>
            <div class="progress">{{ pctComplete }}%</div>
          </div>
        </div>
      </div>
      <button class='ui button' ng-click='showModal();'>Save Progress</button>
    </div>
  </center>

</div>

<!-- signup modal -->
<div class="ui small modal">
  <i class="close icon"></i>
  <div class="ui two column centered grid hidden basic segment">
    <form class="ui form" ng-submit="signup()" novalidate>

      <div class="required field">
        <label>Email Address</label>
        <div class="ui icon input">
          <input type="text" placeholder="you@email.com" ng-model="user.email" required>
          <i class="user icon"></i>
        </div>
      </div>

      <div class="required field">
        <label>Password</label>
        <div class="ui icon input">
          <input type="password" placeholder='password' ng-model="user.password" required>
          <i class="lock icon"></i>
        </div>
      </div>

      <div class='margin-top-md'>
        <button class="ui primary button" ng-click="savePlan" type="submit">
          Sign Up
        </button>
      </div>

    </form>
  </div>
</div>
