<!-- Login HTML Template -->
<center class="ui inverted segment">
  <label>
    <h1>Login</h1>
  </label>
</center>

<div class="ui two column centered grid hidden basic segment">
  
    <form class="ui form column card" ng-submit="login(form)" novalidate>

      <div class="required field">
        <label>Email Address</label>
        <div class="ui icon input">
          <input type="text" placeholder="you@email.com" ng-model="user.email" required>
          <i class="user icon"></i>
        </div>
      </div>

      <div class="required field">
        <label>Password</label>
        <div class="ui icon input">
          <input type="password" ng-model="user.password" required>
          <i class="lock icon"></i>
        </div>
      </div>

      <div>
        <button class="ui primary button" type="submit">
          Login
        </button>
        <p class="margin-top-md">
          Don't have an account? <a href="/signup">Click here to sign up!</a>
        </p>
      </div>

    </form>

</div>
