<!-- HTML Template for Questions, template builder for individual questions -->
<!-- TODO: Refactor inline stylings to css classes -->

<div>

  <!-- Text element when not editing -->
  <!-- The pencil icon only shows when the text field is hovered over -->
  <div ng-if="!edit" ng-mouseenter="revealIcon()">
    <div style="display:inline-block; position:relative;">
      <!-- TODO: Refactor this to be better -->
      <label ng-if="type === 'number'" style="display:inline; style">{{ object[property] | number }}</label>
      <label ng-if="type === 'currency'" style="display:inline; style">{{ object[property] | currency }}</label>
      <label ng-if="type === 'date'" style="display:inline; style">{{ object[property] | date }}</label>
      <label ng-if="type === 'percent'" style="display:inline; style">{{ object[property] | number :2 }}%</label>
      <label ng-if="type === 'text' || !type" style="display:inline; style">{{ object[property] }}</label>

      <div
        ng-click="toggle()"
        ng-class="{ 'visible': showIcon }"
        class="ui flowing popup right center previewEditIcon"
        style="padding:5px 18px 5px 5px; position:absolute; left:100%; top:-25%">

        <div class="ui icon button" style="padding:0px; background-color:white;">
          <i class="fa fa-pencil"></i>
        </div>

      </div>
    </div>
  </div>

  <!-- Input element for editing -->
  <!-- The save icon is always visible when in editing mode -->
  <div ng-if="!!edit" style="display:inline-block; position:relative;">

    <input
      ng-if="type !== 'number' && type !== 'currency'"
      ng-model="object[property]"
      type="{{type}}"
      style="padding-right:30px; style" />

    <input
      ng-if="type === 'number' || type === 'currency'"
      ng-model="object[property]"
      type="{{type}}"
      style="padding-right:30px; style"
      valid-number />

    <div
      ng-click="saveItem()"
      class="ui icon button previewSaveIcon"
      style="padding:0px; border:none; background-color:white; position:absolute; left:85%; top:22%;">
      <i class="fa fa-floppy-o fa-lg"></i>
    </div>

  </div>

</div>
