<!-- Navbar HTML Template -->
<div class="row" ng-controller="NavbarCtrl">

  <div class="ui menu">

    <a href="/" class="brand item">Rockridge</a>

    <a
      class="item"
      ng-repeat="item in menu"
      ng-show="{{item.shown}}"
      ui-sref="{{item.link}}"
      ng-class="{active: isActive(item.abstractLink || item.link)}">
      <span class="{{item.class}}"></span>
      {{item.title}}
    </a>

    <a
      ng-show="isAdmin()"
      href="/admin"
      ng-class="{active: isActive('admin')}">
      Admin
    </a>
    <!-- End left-aligned navbar items -->

    <div class="right menu">
      <a
        class="item"
        ng-hide="isLoggedIn()"
        ng-class="{active: isActive('signup')}"
        ng-click="showModal('signup')">
        Sign up
      </a>

      <a
        class="item"
        ng-hide="isLoggedIn()"
        ng-class="{active: isActive('login')}"
        ng-click="showModal('login')">
        Login
      </a>

      <a
        class="item"
        ng-show="isLoggedIn()">
        <p class="navbar-text"> Hello {{getCurrentUser().name}} </p>
      </a>

      <a
        class="item"
        ng-show="isLoggedIn()"
        ng-class="{active: isActive('settings')}"
        href="/settings">
        <span class="glyphicon glyphicon-cog"></span>
      </a>

      <a
        class="item"
        ng-show="isLoggedIn()"
        href=""
        ng-click="logout()">
        Logout
      </a>

    </div> <!-- End right-aligned items -->

  </div> <!-- End ui menu class div -->

  <div class="ui small modal">
    <i class="close icon"></i>
    <div class="ui two column centered grid hidden basic segment">
      <form class="ui form" ng-submit="signup()" novalidate>

        <div class="required field">
          <label>Email Address</label>
          <div class="ui icon input">
            <input type="text" placeholder="you@email.com" ng-model="user.email" required>
            <i class="user icon"></i>
          </div>
        </div>

        <div class="required field">
          <label>Password</label>
          <div class="ui icon input">
            <input type="password" placeholder='password' ng-model="user.password" required>
            <i class="lock icon"></i>
          </div>
        </div>

        <div class='margin-top-md'>
          <button class="ui primary button" type="submit">
            {{ modalType }}
          </button>
        </div>

      </form>
    </div>
  </div>
</div> <!-- End NavbarCtrl div -->
