<!-- HTML Templates for plan inputs. -->

<!-- ****************************************************************************
// Pease read the Question-Directive-README.md before editing this file.
**************************************************************************** -->

<div ng-class='{disabled: !isEnabled(query.title)}' class='ui title' data-title='{{query.title}}'>
  <i class='green checkmark icon' ng-show='isComplete(query.title)'></i>
  {{query.title}}
</div>

<div class='content' id='{{query.index}}'>

  <div ng-if="plan[query.condition] === 'true' || query.condition === undefined">
    <p ng-if="query.type !== 'multi'"><label>{{query.question}}</label></p>

    <!-- For select, checkbox, radio, button, table, multi, and review questions -->
    <div
      ng-if="['select','checkbox','radio','button','table','multi','review'].indexOf(query.type) !== -1"
      ng-include="'components/questions/views/'+query.type+'Template.html'">
    </div>

    <!-- For everything else -->
    <input
      ng-if="['select','checkbox','radio','button','table','multi','review'].indexOf(query.type) === -1"
      type="{{query.type}}"
      ng-model="plan[query.bind]"/>
  </div>

</div>
