<!-- HTML Templates for plan inputs. -->
<!-- NOTE: Use ng-if for all options, not ng-show. -->

<div ng-class="{ 'title': true, 'active': query.selected }">{{query.title}}</div>

<div ng-class="{ 'content': true, 'active': query.selected }">
  <p>{{query.question}}</p>

  <!-- For text questions -->
  <input ng-if="query.type === 'text'" type="text" ng-model="plan[query.bind]"/>

  <!-- For select option questions -->
  <select ng-if="query.type === 'select'" ng-model="plan[query.bind]">
    <option ng-repeat="option in query.options">{{option}}</option>
  </select>

  <!-- For checkbox option questions -->


  <!-- For radio option questions -->


  <!-- For button questions -->


  <!-- For table entry questions -->
  <div ng-if="query.type === 'table'">
    <table style="width:100%">
      <tr>
        <th ng-repeat="field in query.fields" style="text-align:{{field.textAlign}}">{{field.label}}</th>
      </tr>
      <tr>
        <td ng-repeat="field in query.fields">
          <input type="query.field.type" style="text-align:{{field.textAlign}}" />
        </td>
      </tr>
    </table>
    <br>
    <button class="ui button">Add More</button>
  </div>

  <!-- For multi-question slides -->


  <!-- For prescreen questions (Yes/No questions that will determine the next question slide to show) -->

  <!-- For everything else -->
  <input ng-if="['text','select','checkbox','radio','table','multi'].indexOf(query.type) === -1" type="{{query.type}}" ng-model="plan[query.bind]"/>

</div>
