<!-- HTML Templates for plan inputs. -->

<!-- ****************************************************************************
// Pease read the Question-Directive-README.md before editing this file.
**************************************************************************** -->

<div ng-class="{ 'title': true, 'active': query.selected }">{{query.title}}</div>

<div ng-class="{ 'content': true, 'active': query.selected }">
  <p ng-if="query.type !== 'multi'"><label>{{query.question}}</label></p>

  <!-- For select option questions -->
  <select ng-if="query.type === 'select'" ng-model="plan[query.bind]">
    <option ng-repeat="option in query.options">{{option}}</option>
  </select>

  <!-- For checkbox option questions -->
  <div ng-if="query.type === 'checkbox'" ng-repeat="option in query.options">
    <div class="ui checkbox">
      <input
        type="checkbox"
        value="{{option}}"
        id="chkbx-{{option}}"
        name="{{query.bind}}[]"
        ng-checked="{{query.bind}}.indexOf('{{option}}') > -1">
      <label for="chkbx-{{option}}">{{option}}</label>
      <br>
    </div>
  </div>

  <!-- For radio option questions -->
  <div ng-if="query.type === 'radio'" ng-repeat="option in query.options">
    <div class="ui radio">
      <input
        type="radio"
        value="{{option}}"
        id="radio-{{option}}"
        ng-model="plan[query.bind]">
      <label for="radio-{{option}}" class="pad-left-sm">{{option}}</label>
      <br><br>
    </div>
  </div>

  <!-- For button questions -->
  <!-- TODO: Define exact purpose of button option, invoking functions? Or like radio options? -->
  <div ng-if="query.type === 'button'" style="min-width:500px">
    <div ng-repeat="option in query.options">
      <button class="ui button" style="width:100%">
        {{option}}
      </button>
      <br><br>
    </div>
  </div>

  <!-- For table entry questions -->
  <div ng-if="query.type === 'table'">
    <form class="ui form">
      <table ng-class="{ 'two fields': query.fields.length === 2,
                         'three fields': query.fields.length === 3,
                         'four fields': query.fields.length === 4,
                         'five fields': query.fields.length === 5 }">
        
        <!-- Build column headers -->
        <tr>
          <th
            ng-class="{ 'four wide': field.type === 'number', 'field': true }"
            ng-repeat="field in query.fields"
            style="text-align:{{field.textAlign}}">
            <label>{{field.label}}</label>
          </th>
          <th></th> <!-- Spaceholder for row delete button -->
        </tr>

        <!-- Load existing items if present -->
        <tr ng-repeat="items in plan[query.bind]">
          <td
            ng-class="{ 'three wide': field.type === 'number', 'field': true }"
            ng-repeat="field in query.fields">
            <input
              ng-model="item[field.label]"
              type="{{field.type}}"
              style="text-align:{{field.textAlign}}"/>
          </td>
          <td>
            <button
              class="mini circular ui icon button"
              ng-click="deleteRow($index, query.bind)">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </table>
    </form><br>
    
    <!-- Allow new items to be added -->
    <button
      class="ui button"
      ng-click="addRow(query.bind)">
      Add Item
    </button>
  </div>

  <!-- For multi-question slides -->
  <!-- TODO: Currently, multi can only support basic input types (text, date, etc. - NOT select, checkboxes, radio). Refacor so that multi can handle any type of input request -->
  <div ng-if="query.type === 'multi'">
    <div ng-repeat="item in query.subqueries">
      <label>{{item.question}}</label>
      <input type="{{item.type}}" ng-model="plan[item.bind]"/>
      <br><br>
    </div>
  </div>

  <!-- For prescreen questions (Yes/No questions that will determine the next question to show) -->
  <div ng-if="query.type === 'prescreen'">
    <!-- TODO: Figure this out -->
  </div>

  <!-- For the review slide, the final slide in the section -->
  <!-- NOTE: this will accept an html template and is intended to dislay a snapshot of what the user entered in current section -->
  <div ng-if="query.type === 'review'">
    <!-- TODO: Figure this out -->
  </div>


  <!-- For everything else -->
  <input
    ng-if="['select','checkbox','radio','button','table','multi','review'].indexOf(query.type) === -1"
    type="{{query.type}}"
    ng-model="plan[query.bind]"/>

</div>
