<h2 class="ui top attached header">My Plan</h2>

<div class="ui attached segment">
  <!-- TODO: ng-repeat to display plan sections as nav-tabs -->
  <!-- TODO: build presentation of financial plan -->
  <div class="ui top attached tabular menu">
    <a
      ng-class="{ 'active':currentView === 'Overview', 'item':true }"
      ng-click="setView('Overview')">
      Overview
    </a>
    <a
      ng-repeat="section in user.plan"
      ng-class="{ 'active':currentView === section, 'item':true }"
      ng-click="setView(section)">{{section}}</a>
    <a
      ng-class="{ 'active':currentView === 'addMore', 'item':true }"
      ng-click="setView('addMore')">+</a>
      <!-- TODO: This section will display other tools they can add to their plan -->
  </div>

  <div class="ui bottom attached segment">
    <!-- TODO: This will need to dynamically display aspects of their plan. Likely with nested views within my-plan. -->
    <div ng-include="planDisplay[currentView]"></div>
  </div>
</div>
