<h2 class="ui top attached header">My Plan</h2>

<div class="ui attached segment">

  <div class="ui top attached tabular menu">

    <a
      ng-class="{ 'active':currentView.label === 'Overview' }"
      class="item"
      ng-click="setView(overview)">
      Overview
    </a>

    <!-- TODO: Disable these links if user has not completed plan-builder -->
    <a
      ng-repeat="section in planDisplay"
      ng-class="{ 'active': currentView.label === section.label }"
      class="item"
      ng-click="setView(section)">
      {{section.label}}
    </a>

  </div>

  <div class="ui bottom attached segment">
    <div ng-include="currentView.link"></div>
  </div>

</div>
