<!-- Signup HTML Template -->
<center class="ui inverted segment">
  <label>
    <h1>Signup</h1>
  </label>
</center>

<div class="ui two column centered grid hidden basic segment">
  
    <form class="ui form column card" ng-submit="signup(form)" novalidate>

      <div class="required field">
        <label>Email Address</label>
        <div class="ui icon input">
          <input type="text" placeholder="you@email.com" ng-model="user.email" required>
          <i class="user icon"></i>
        </div>
      </div>

      <div class="required field">
        <label>Password</label>
        <div class="ui icon input">
          <input type="password" ng-model="user.password" required>
          <i class="lock icon"></i>
        </div>
      </div>

      <div>
        <button class="ui primary button" type="submit">
          Sign Up
        </button>
        <p class="margin-top-md">
          Already have an account? <a href="/login">Click here to log in!</a>
        </p>
      </div>

    </form>

</div>
