<!-- TODO: Show link to plan builder if user has not completed plan builder -->
<div>

</div>

<!-- Shown overview of plan if the user has completed plan-builder -->
<div>

  <p>
    See overview of their plan on this tab.<br>
    Click on other tabs to review that specific info and update inputs.<br>
    Click on '+' tab to add new tools to their plan (college savings, etc.)
  </p>

  <h2>Preview directive test</h2>
  <p>First name should be '{{plan.firstname}}'</p>

  <preview plan="plan" bind="firstname"></preview>

</div>
